<div>
  <p>Basic Country Information:</p>
  <div style='margin-left: 20px;'>
    <strong>Country Name: <%= country.name %></strong><br>
    Capital: <%= country.capital %><br>
    Population: <%= country.population %><br>
    Foundation Year: <%= country.foundation_year %><br>
  </div>
</div>