<div style="margin-left: 10px; margin-bottom: 10px;">
  <% if country.eu_membership %>
    Joined EU in <%= country.membership_year %>
  <% else %>
    <span>Not a Member of the EU</span>
  <% end %>
</div>