<%= link_to 'Welcome Page', welcome_path(1) %> | <%= link_to 'About Us', about_path %>

<h1>All Countries</h1>

<ul>
  <% @countries.each do |country| %>
    <li><%= link_to country.name, country_path(country) %></li>
  <% end %>
</ul>